html{
    background-color: black;
    font-size: 20px;
}
img{
    border: 5px solid yellow;
    width : 100%;
}
#motivational{
    color: whitesmoke;
    text-align: center;
    margin-top: 5%;
    margin-left: 35%;
    margin-right: 35%;

}
h1{
    font-family: 'Libre Baskerville', serif;
    text-transform: uppercase;
    color : yellow;
    font-size: 25px;
}
